body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

section {
    scroll-snap-align: end;
    padding-top: 60px; /* Add padding to account for the fixed navbar */
    min-height: 100vh; /* Ensure each section takes at least the full viewport height */
    box-sizing: border-box; /* Include padding in the height calculation */
}

a {
    text-decoration: none;
}

a:active, a:visited {
    color:white;
}

/*about section*/
#about {
    background-color: #f0f0f0; /* Light grey background */
    padding: 100px 20px 39px; /* Adjusted top padding */
    min-height: 95vh;
    transition: 0.5s;
}

#about h2 {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
    font-size: 40px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    margin-left:50px;
    flex-basis: 64%;
}

h1.about-text {
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left:0px;
    color:#0e0e0e;
    font-family: Verdana, sans-serif;
}

.character {
    display: flex;
    flex-basis: 28%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Adjust this value as needed */
    margin: 0 auto;
    cursor: pointer;
}

.frame {
    border: 5px solid #000;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: 270px;
    max-width: 300px;
    min-width: 300px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2); /* Added shadow to the frame */
}


.frameimg {
    border-radius: 50%;
    position: absolute;
    width:120%;
    height:130%;
    max-width: 120%;
    max-height: 130%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
    pointer-events: none;
    user-select: none;
    z-index:5;
}

.frameimg-shadow {
    border-radius: 50%;
    position: absolute;
    width: 120%;
    height: 130%;
    max-width: 120%;
    max-height: 130%;
    top: 55%;
    left: 50%;
    transform: translate(-50.5%, -49.5%);
    transition: transform 0.5s;
    pointer-events: none;
    user-select: none;
    filter: blur(5px) brightness(0);
    z-index: 1;
}

.circle1, .circle2 {
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent white */
    z-index: 3;
  }
  
  .circle1 {
    width: 32px; /* Width of the first circle */
    height: 20px; /* Height of the first circle */
    top: 52%; /* Position from the top */
    left: 40%; /* Position from the left */
  }
  
  .circle2 {
    width: 32px; /* Width of the second circle */
    height: 20px; /* Height of the second circle */
    top: 51.5%; /* Position from the bottom */
    left: 60%; /* Position from the right */
  }

.pupil {
    width: 45%;
    height: 60%;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 8.5px;
    transform: translate(-50%, -50%);
    z-index:2;
}

.pupil-left {
    width: 15px;
    height: 15px;
}

.pupil-right {
    width: 13px;
    height: 13px;
}

.frame {
    overflow: hidden;
    position: relative;
}

/* for bounce */
@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, calc(-50% + 10px));
    }
}

@keyframes bounceshadow {
    0%, 100% {
        transform: translate(-50.5%, -49.5%);
    }
    50% {
        transform: translate(-50.5%, calc(-49.5% + 10px));
    }
}

@keyframes bounceeyes {
    0%, 100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
}

.frameimg.bounce {
    animation: bounce 0.5s;
}

.frameimg-shadow.bounce {
    animation: bounceshadow 0.5s;
}

.circle1.bounce, .circle2.bounce {
    animation: bounceeyes 0.5s;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 300px;
    max-width: 300px;
    width: 100%;
}

.slider-container label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.slider {
    width: 100%;
}

.about-text p {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

@media screen and (max-width: 520px) {

    .about-container {
        flex-direction: column;
    }

    .character, .about-text {
        flex-basis: 100%;
        width: 100%; /* Ensure full width */
    }

    .character {
        max-width: 90%;
        margin-bottom: 30px;
        align-self: center;
        margin-left: 30px;
    }

    .slider-container{
        margin-left: 0px;
        align-self: center;
    }

    .about-text {
        clear: both; /* Ensure it starts on a new line */
    }
}


