body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#experience {
    width: auto;
    margin: 0 auto;
    padding: 50px 20px 100px;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
}

.timeline {
    margin-bottom: 50px;
    position: relative;
}

#work {
    margin-top:-50px;
}

#extracurriculars {
    margin-top: -25px;
}

#lastitemec {
    margin-bottom:-150px;
}

.timeline h2 {
    text-align: left;
    margin-bottom: 50px;
    padding-left: 20px;
    font-family: Verdana;
}

.timeline-item {
    margin-bottom: 0px;
    position: relative;
    min-height: 300px;
}

.timeline-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.timeline-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    transition: filter 0.3s ease-in-out;
    transition: transform 0.7s ease-in-out;
}

.timeline-icon:hover {
    transform: rotateY(360deg);
}

.timeline-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.timeline-content {
    width: 300px;
    padding: 15px;
    background-color: #dbdbdb;
    border-radius: 5px;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
    box-shadow: -5px 5px 5px lightgray;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.timeline-content.left {
    margin-right: 20px;
    text-align: left;
}

.timeline-content.right {
    margin-left: 20px;
}

.timeline-content h3 {
    margin-top: 0;
}

.timeline-content p {
    margin-bottom: 10px;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.read-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #0056b3;
}

.timeline-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    z-index: 1;
}



@media screen and (max-width: 768px) {
    #experience {
        min-height:200vh;
        max-height:300vh;
    }

    #education {
        margin-top:-5px;
    }

    #pennstate{
        margin-top:-75px;
    }

    .timeline-content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .timeline-content.left,
    .timeline-content.right {
        margin: 10px 0;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    .timeline-icon {
        order: -1;
        margin-bottom: 10px;
    }

    .timeline-line {
        left: 50%;
        transform: translateX(-50%);
    }
}

